<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.read.custom.SaleContractOrderReceiptReadDao">
    <resultMap extends="com.manyi.iw.contract.soa.server.mybatis.dao.read.mbg.MBGSaleContractOrderReceiptReadDao.BaseResultMap"
               id="SaleContractOrderReceiptVoResultMap"
               type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractOrderReceiptVo"/>

    <resultMap id="ReceiptDetailResultMap"
               type="com.manyi.iw.contract.soa.api.model.vo.sale.receipt.SearchReceiptListResult$ReceiptDetail" autoMapping="true">
        <id column="receipt_id"/>
        <association columnPrefix="trade_"
                     property="tradeVo"
                     resultMap="com.manyi.iw.contract.soa.server.mybatis.dao.read.custom.SaleContractTradeTransactionReadDao.SaleContractTradeVoResultMap"/>
        <association columnPrefix="order_"
                     property="order"
                     resultMap="com.manyi.iw.contract.soa.server.mybatis.dao.read.custom.SaleContractOrderReadDao.SaleContractOrderVoResultMap"/>
        <association columnPrefix="receipt_"
                     property="receiptVo"
                     resultMap="SaleContractOrderReceiptVoResultMap"/>
    </resultMap>

    <sql id="searchReceiptJoin">
        LEFT JOIN iw_sale_contract_order_attribute a on r.orderId = a.orderId
        left join iw_sale_contract_order o on o.id = r.orderId
    </sql>
    <sql id="searchReceiptWhere">
        <if test="param.receiptAuditState">
            and r.auditState = #{param.receiptAuditState}
        </if>
        <if test="param.receiptType">
            and r.type = #{param.receiptType}
        </if>

        <if test="param.cityId != null and param.cityId != 0">
            and o.cityId = #{param.cityId}
        </if>
        <if test="param.areaId != null and param.areaId != 0">
            and o.areaId = #{param.areaId}
        </if>
        <if test="param.bigAreaId != null and param.bigAreaId != 0">
            and o.bigAreaId = #{param.bigAreaId}
        </if>
        <if test="param.mendianId != null and param.mendianId != 0">
            and o.mendianId = #{param.mendianId}
        </if>
        <if test="param.groupId != null and param.groupId != 0">
            and o.groupId = #{param.groupId}
        </if>
        <if test="param.agentId != null and param.agentId != 0">
            and o.agentId = #{param.agentId}
        </if>
        <if test="param.code != null and param.code != ''">
            and o.code = #{param.code}
        </if>
        <if test="param.orderState != null and param.orderState != ''">
            and o.state in
            <foreach open="(" close=")" collection="param.orderStateList" item="state" separator=",">
                #{state}
            </foreach>
        </if>
        <if test="param.exceptionState !=null">
            and o.specialState = #{param.exceptionState}
        </if>
        <if test="param.collectionDateStart != null and param.collectionDateStart != ''">
            and r.moneyConfirmTime <![CDATA[ >= ]]> #{param.collectionDateStart}
        </if>
        <if test="param.collectionDateEnd != null and param.collectionDateEnd != ''">
            and r.moneyConfirmTime <![CDATA[ <= ]]> #{param.collectionDateEnd}
        </if>

        <if test="param.bizSubmitConfirmTimeStart != null and param.bizSubmitConfirmTimeStart != ''">
            and r.bizSubmitConfirmTime <![CDATA[ >= ]]> #{param.bizSubmitConfirmTimeStart}
        </if>
        <if test="param.bizSubmitConfirmTimeEnd != null and param.bizSubmitConfirmTimeEnd != ''">
            and r.bizSubmitConfirmTime <![CDATA[ <= ]]> #{param.bizSubmitConfirmTimeEnd}
        </if>

        <if test="param.financeFormalMoneyTimeStart != null and param.financeFormalMoneyTimeStart != ''">
            and r.financeFormalMoneyTime <![CDATA[ >= ]]> #{param.financeFormalMoneyTimeStart}
        </if>
        <if test="param.financeFormalMoneyTimeEnd != null and param.financeFormalMoneyTimeEnd != ''">
            and r.financeFormalMoneyTime <![CDATA[ <= ]]> #{param.financeFormalMoneyTimeEnd}
        </if>

        <if test="param.collectionDetails != null and param.collectionDetails != ''">
            <bind name="collectionDetailsLike" value="'%' + param.collectionDetails + '%'"/>
            and r.collectionDetails like #{collectionDetailsLike}
        </if>
    </sql>

    <select id="searchReceipt" parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.SearchReceiptParam"
            resultType="com.manyi.iw.contract.soa.api.model.vo.sale.SearchReceiptResult$SaleContractOrderReceiptVo">
        select
        r.id as receiptId, o.id as orderId,o.mendianId, o.agentId, o.totalPrice,
        o.paidCommission,o.commission,o.confirmCommissionMoney,
        a.discountCommission,r.moneyConfirmTime,r.type, r.money,r.auditState,r.collectionDetails,
        r.tradeSerialNumber,r.bizSubmitConfirmTime,r.financeFormalMoneyTime,r.payeeId
        from iw_sale_contract_order_receipt r
        <include refid="searchReceiptJoin"/>
        where r.valid = 1
        <include refid="searchReceiptWhere"/>

        <if test="param.orderBy">
            order by ${param.orderBy}
        </if>
        <if test="param.order">
            ${param.order}
        </if>
        <if test="param.limit">
            limit
            <if test="param.start">
                #{param.start},
            </if>
            #{param.limit}
        </if>
    </select>

    <select id="countReceipt" parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.SearchReceiptParam"
            resultType="int">
        select
        count(r.id)
        from iw_sale_contract_order_receipt r
        <include refid="searchReceiptJoin"/>
        where r.valid = 1
        <include refid="searchReceiptWhere"/>
    </select>


    <select id="searchReceiptList" resultMap="ReceiptDetailResultMap" lang="velocity">
        SELECT
        #{prefix}("
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.read.mbg.MBGSaleContractOrderReceiptReadDao.Base_Column_List'/>
        " "," "r." "receipt_")
        ,
        #{if}(${_parameter.needOrder})
        #{prefix}("
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.read.mbg.MBGSaleContractOrderReadDao.Base_Column_List'/>
        " "," "o." "order_")
        ,
        #{end}
        #{prefix}("
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.read.mbg.MBGSaleContractTradeTransactionReadDao.Base_Column_List'/>
        " "," "t." "trade_")
        from iw_sale_contract_order_receipt r
        <include refid="searchOrderJoin" />
        <include refid="searchTradeJoin" />
        <include refid="searchWhere" />
        <include refid="orderBy"/>
        <include refid="limit"/>
    </select>
    <select id="searchReceiptListCount" resultType="int" lang="velocity">
        SELECT  COUNT(1)
        from iw_sale_contract_order_receipt r
        <include refid="searchOrderJoin" />
        <include refid="searchTradeJoin" />
        <include refid="searchWhere" />
    </select>

    <sql id="searchTradeJoin">
        LEFT JOIN iw_sale_contract_trade_transaction t on  r.tradeId = t.id
    </sql>
    <sql id="searchOrderJoin">
        LEFT JOIN iw_sale_contract_order o on o.id = r.orderId
    </sql>
    <sql id="searchAllocationPersionJoin">
        LEFT JOIN iw_sale_contract_order_allocation_persion p ON p.orderId = o.id
    </sql>
    <sql id="searchWhere">
        WHERE
        r.valid = 1
        AND t.valid = 1
        AND t.state != 4
        #{if}(${_parameter.receiptTypeList} and ${_parameter.receiptTypeList.size()} != 0)
        AND
        #{in}(${_parameter.receiptTypeList} $rType "r.type")
        @{rType}
        #{end}
        #{end}
        #{if}(${_parameter.receiptId} and ${_parameter.receiptId}!="")
        AND r.id = @{_parameter.receiptId}
        #{end}
        #{if}(${_parameter.tradeId} and ${_parameter.tradeId}!="")
        AND r.tradeId = @{_parameter.tradeId}
        #{end}

        #{if}(${_parameter.orderStateList} and ${_parameter.orderStateList.size()} != 0)
        AND
        #{in}(${_parameter.orderStateList} $state "o.state")
        @{state}
        #{end}
        #{if}(${_parameter.orderStateExtra}==0 or ${_parameter.orderStateExtra}=="" or !${_parameter.orderStateExtra})
             AND o.orderStateExtra is null
        #{end}
        #{end}
        #{if}(${_parameter.tradeIds} and ${_parameter.tradeIds.size()} != 0)
        AND
        #{in}(${_parameter.tradeIds} $tradeId "t.id")
        @{tradeId}
        #{end}
        #{end}
        #{if}(${_parameter.orderIds} and ${_parameter.orderIds.size()} != 0)
        AND
        #{in}(${_parameter.orderIds} $orderId "o.id")
        @{orderId}
        #{end}
        #{end}
        #{if}(${_parameter.orderStateExtra} and ${_parameter.orderStateExtra}!=""and ${_parameter.orderStateExtra}!=0)
             AND o.orderStateExtra = @{_parameter.orderStateExtra}
        #{end}
        #{if}(${_parameter.isTrade})
            #{if}(${_parameter.fwqId} and ${_parameter.fwqId} != 0)
            AND o.loanMendian = @{_parameter.fwqId}
            #{elseif}(${_parameter.tradeCityId} and ${_parameter.tradeCityId} != 0)
            AND o.cityId = @{_parameter.tradeCityId}
            #{end}
        #{else}
            #{if}(${_parameter.agentId} and ${_parameter.agentId} != 0 and ${_parameter.agentId} != -1)
            AND o.agentId = @{_parameter.agentId}
            #{elseif}(${_parameter.groupId} and ${_parameter.groupId} != 0 and ${_parameter.groupId} != -1)
            AND o.groupId = @{_parameter.groupId}
            #{elseif}(${_parameter.mendianId} and ${_parameter.mendianId} != 0 and ${_parameter.mendianId} != -1)
            AND o.mendianId = @{_parameter.mendianId}
            #{elseif}(${_parameter.areaId} and ${_parameter.areaId} != 0 and ${_parameter.areaId} != -1)
            AND o.areaId = @{_parameter.areaId}
            #{elseif}(${_parameter.bigAreaId} and ${_parameter.bigAreaId} != 0 and ${_parameter.bigAreaId} != -1)
            AND o.bigAreaId = @{_parameter.bigAreaId}
            #{elseif}(${_parameter.cityId} and ${_parameter.cityId} != 0 and ${_parameter.cityId} != -1)
            AND o.cityId = @{_parameter.cityId}
            #{end}
        #{end}
        #{if}(${_parameter.code} and ${_parameter.code}!="")
        AND o.code = @{_parameter.code}
        #{end}
        #{if}(${_parameter.exceptionState})
        AND o.specialState = @{_parameter.exceptionState}
        #{end}
        #{if}(${_parameter.state})
        AND t.state = @{_parameter.state}
        #{end}
        #{if}(${_parameter.tradeWayList} and ${_parameter.tradeWayList.size()} != 0)
        AND
        #{in}(${_parameter.tradeWayList} $tway "t.tradeWay")
        @{tway}
        #{end}
        #{end}
        #{if}(${_parameter.tradeType})
        AND t.isBatch = @{_parameter.tradeType}
        #{end}
        #{if}(${_parameter.collectionDateStart})
        AND t.tradeCreateTime <![CDATA[>=]]> @{_parameter.collectionDateStart}
        #{end}
        #{if}(${_parameter.collectionDateEnd})
        AND t.tradeCreateTime <![CDATA[<=]]> @{_parameter.collectionDateEnd}
        #{end}
        #{if}(${_parameter.bizSubmitConfirmTimeStart})
        AND t.tradeReceiveMoneyTime <![CDATA[>=]]> @{_parameter.bizSubmitConfirmTimeStart}
        #{end}
        #{if}(${_parameter.bizSubmitConfirmTimeEnd})
        AND t.tradeReceiveMoneyTime <![CDATA[<=]]> @{_parameter.bizSubmitConfirmTimeEnd}
        #{end}
        #{if}(${_parameter.bizSubmitConfirmSystemTimeStart})
        AND t.tradeReceiveSystemMoneyTime <![CDATA[>=]]> @{_parameter.bizSubmitConfirmSystemTimeStart}
        #{end}
        #{if}(${_parameter.bizSubmitConfirmSystemTimeEnd})
        AND t.tradeReceiveSystemMoneyTime <![CDATA[<=]]> @{_parameter.bizSubmitConfirmSystemTimeEnd}
        #{end}
        #{if}(${_parameter.financeFormalMoneyTimeStart})
        AND t.tradeCompleteTime <![CDATA[>=]]> @{_parameter.financeFormalMoneyTimeStart}
        #{end}
        #{if}(${_parameter.financeFormalMoneyTimeEnd})
        AND t.tradeCompleteTime <![CDATA[<=]]> @{_parameter.financeFormalMoneyTimeEnd}
        #{end}
        #{if}(${_parameter.collectionDetails} and ${_parameter.collectionDetails}!="")
        AND t.collectionDetails like CONCAT("%", @{_parameter.collectionDetails}, "%")
        #{end}
    </sql>
    <sql id="orderBy">
        #{if}(${_parameter.orderBy} and ${_parameter.orderBy} != "")
        order by ${_parameter.orderBy}
        #{end}
    </sql>
    <sql id="limit">
        #{if}(${_parameter.limit})
        LIMIT
        #{if}(${_parameter.start})
        @{_parameter.start},
        #{end}
        @{_parameter.limit}
        #{end}
    </sql>
</mapper>