<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.read.custom.SaleContractOrderDiscountCommissionReadDao">

    <select id="queryDiscountsList" resultType="com.manyi.iw.contract.soa.api.model.vo.sale.discountAudit.QueryDiscountsResult$SaleContractOrderDiscountCommissionVo"
            parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.discountAudit.QueryDiscountsParam">
          SELECT  dis.*,o.code,o.premisesPermitAddr,o.houseId,o.cityId,o.bigAreaId,o.areaId,o.mendianId,o.groupId FROM iw_sale_contract_order_discount_commission dis
          LEFT JOIN iw_sale_contract_order o ON dis.orderId = o.id
          WHERE  1 = 1
          <if test="param.zongJian">
              <include refid="ZongJianDiscountsWhere" />
          </if>
          <if test="param.areaLeader">
              <include refid="AreaLeaderWhere" />
          </if>
          <if test="param.groupLeader">
              <include refid="GroupLeaderWhere" />
          </if>
          <if test="param.mendianLeader">
              <include refid="MenDianLeaderWhere" />
          </if>
          ORDER BY ${param.orderBy}
          <include refid="limit" />
    </select>

    <select id="countTotal" resultType="integer" parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.discountAudit.QueryDiscountsParam">
        SELECT COUNT(1) FROM iw_sale_contract_order_discount_commission dis
        LEFT JOIN iw_sale_contract_order o ON dis.orderId = o.id
        WHERE  1 = 1
        <if test="param.zongJian">
            <include refid="ZongJianDiscountsWhere" />
        </if>
        <if test="param.areaLeader">
            <include refid="AreaLeaderWhere" />
        </if>
        <if test="param.groupLeader">
            <include refid="GroupLeaderWhere" />
        </if>
        <if test="param.mendianLeader">
            <include refid="MenDianLeaderWhere" />
        </if>
    </select>

    <sql id="ZongJianDiscountsWhere">
        <if test="param.flag == 2">
            AND dis.needToOpTopLeader = 1 AND dis.state = 20  AND dis.cancel = 1
        </if>
        <if test="param.flag == 3">
            AND dis.needToOpTopLeader = 1 AND (dis.state = 30 OR dis.disAllowState = 2 ) AND dis.cancel = 1
        </if>
    </sql>

    <sql id="AreaLeaderWhere">
        <if test="param.flag == 2">
            AND dis.state = 10
            AND dis.bigAreaId IN
            <foreach collection="param.bigAreaIds" item="bigAreaId" separator="," open="(" close=")">
                #{bigAreaId}
            </foreach>
            AND dis.cancel = 1
        </if>
        <if test="param.flag == 3">
            AND dis.bigAreaId IN
            <foreach collection="param.bigAreaIds"  item="bigAreaId" separator="," open="(" close=")">
                #{bigAreaId}
            </foreach>
            AND (dis.state in (20,30,90) OR dis.disAllowState = 1 ) AND dis.cancel = 1
        </if>
    </sql>

    <sql id="GroupLeaderWhere">
        <if test="param.flag == 1">
            AND dis.groupId IN
            <foreach collection="param.groupIds"  item="groupId" separator="," open="(" close=")">
                #{groupId}
            </foreach>
            AND (dis.state = 10 OR (dis.state = 20 AND dis.needToOpTopLeader = 1))
            AND dis.cancel = 1
        </if>
        <if test="param.flag == 3">
            AND dis.groupId IN
            <foreach collection="param.groupIds"  item="groupId" separator="," open="(" close=")">
                #{groupId}
            </foreach>
            AND (dis.state = 30 OR (dis.state = 20 AND dis.needToOpTopLeader = 0) OR dis.state = 90 OR dis.cancel = 0)
        </if>
    </sql>

    <sql id="MenDianLeaderWhere">
        <if test="param.flag == 1">
            AND (dis.state = 10 OR (dis.state = 20 AND dis.needToOpTopLeader = 1))
            AND dis.mendianId IN
            <foreach collection="param.mendianIds"  item="mendianId" separator="," open="(" close=")">
                #{mendianId}
            </foreach>
            AND dis.cancel = 1
        </if>
        <if test="param.flag == 3">
            AND dis.mendianId IN
            <foreach collection="param.mendianIds"  item="mendianId" separator="," open="(" close=")">
                #{mendianId}
            </foreach>
            AND (dis.state = 30 OR dis.state = 90 OR dis.cancel = 0)
        </if>
    </sql>

    <sql id="limit">
        <if test="param.limit != null">
            limit
            <if test="param.offset != null">
                #{param.offset},
            </if>
            #{param.limit}
        </if>
    </sql>

    <select id="queryOrderDiscountsList" resultType="com.manyi.iw.contract.soa.api.model.vo.sale.discountAudit.QueryDiscountsResult$SaleContractOrderDiscountCommissionVo"
            parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.discountAudit.QueryDiscountsParam">
         SELECT  dis.*,o.code,o.premisesPermitAddr,o.houseId,o.cityId,o.bigAreaId,o.areaId,o.mendianId,o.groupId FROM iw_sale_contract_order_discount_commission dis
         LEFT JOIN iw_sale_contract_order o ON dis.orderId = o.id
         WHERE  1 = 1
         <include refid="queryOrderDiscountsWhere" />
         ORDER BY ${param.orderBy}
    </select>

    <sql id="queryOrderDiscountsWhere">
        AND o.id = #{param.orderId}
    </sql>

    <select id="queryDiscountDetail" resultType="com.manyi.iw.contract.soa.api.model.vo.sale.discountAudit.QueryDiscountsResult$SaleContractOrderDiscountCommissionVo">
         SELECT  dis.*,o.code,o.premisesPermitAddr,o.houseId,o.cityId,o.bigAreaId,o.areaId,o.mendianId,o.groupId FROM iw_sale_contract_order_discount_commission dis
         LEFT JOIN iw_sale_contract_order o ON dis.orderId = o.id
         WHERE dis.id = #{discountId}
    </select>


    <select id="queryTongGuoTotal" parameterType="java.util.Map" resultType="int">
        SELECT count(1) FROM iw_sale_contract_order_discount_commission dis
        WHERE dis.bigAreaId = #{bigAreaId}
        AND dis.state in (20,30) AND MONTH(dis.timeAreaAudit) = MONTH(NOW())
        AND dis.auditType = #{auditType};
    </select>

    <select id="countZongJianTotal" resultType="int">
        SELECT count(1) FROM iw_sale_contract_order_discount_commission dis
        WHERE dis.state = 30 AND MONTH(dis.timeAreaAudit) = MONTH(NOW())
        AND dis.auditType = #{auditType};
    </select>

    <select id="searchDiscountApplys" resultType="com.manyi.iw.contract.soa.api.model.vo.sale.discountAudit.SearchDiscountApplyResult$DiscountApplyVo"
            parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.discountAudit.SearchDiscountApplyParam">
        SELECT  dis.*,o.code FROM iw_sale_contract_order_discount_commission dis
        LEFT JOIN iw_sale_contract_order o ON dis.orderId = o.id
        WHERE  1 = 1
        <include refid="searchDiscountApplysWhere" />
        ORDER BY  dis.timeApply DESC
        <include refid="searchDiscountApplysLimit" />
    </select>

    <select id="searchDiscountApplysConut" resultType="int"
            parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.discountAudit.SearchDiscountApplyParam">
        SELECT  count(1) FROM iw_sale_contract_order_discount_commission dis
        LEFT JOIN iw_sale_contract_order o ON dis.orderId = o.id
        WHERE  1 = 1
        <include refid="searchDiscountApplysWhere" />
    </select>


    <sql id="searchDiscountApplysWhere">
        <if test="param.discountState">
            AND dis.state = #{param.discountState}
        </if>
        <if test="param.cancelState">
            AND dis.cancel = #{param.cancelState}
        </if>
        <if test="param.timeApplyStart">
            AND dis.timeApply <![CDATA[>=]]> #{param.timeApplyStart}
        </if>
        <if test="param.timeApplyEnd">
            AND dis.timeApply <![CDATA[<=]]> #{param.timeApplyEnd}
        </if>
        <if test="param.auditType">
            AND dis.auditType = #{param.auditType}
        </if>
        <if test="param.timeOverStart or param.timeOverEnd">
            AND (
                (dis.needToOpTopLeader = 0
                <if test="param.timeOverStart">
                    AND dis.timeAreaAudit <![CDATA[>=]]> #{param.timeOverStart}
                </if>
                <if test="param.timeOverEnd">
                    AND dis.timeAreaAudit <![CDATA[<=]]> #{param.timeOverEnd}
                </if>
                   )
                OR (dis.needToOpTopLeader = 1 and dis.state = 90
                <if test="param.timeOverStart">
                    AND dis.timeAreaAudit <![CDATA[>=]]> #{param.timeOverStart}
                </if>
                <if test="param.timeOverEnd">
                    AND dis.timeAreaAudit <![CDATA[<=]]> #{param.timeOverEnd}
                </if>
                )
                OR (dis.needToOpTopLeader = 1
                <if test="param.timeOverStart">
                    AND dis.timeOpTopLeaderAudit <![CDATA[>=]]> #{param.timeOverStart}
                </if>
                <if test="param.timeOverEnd">
                    AND dis.timeOpTopLeaderAudit <![CDATA[<=]]> #{param.timeOverEnd}
                </if>
                )
                OR (1=1
                <if test="param.timeOverStart">
                    AND dis.timeCancel <![CDATA[>=]]> #{param.timeOverStart}
                </if>
                <if test="param.timeOverEnd">
                    AND dis.timeCancel <![CDATA[<=]]> #{param.timeOverEnd}
                </if>
                )
            )
        </if>
        <choose>
            <when test="param.agentId != null and param.agentId != 0">
                AND o.agentId = #{param.agentId}
            </when>
            <when test="param.groupId !=null and param.groupId != 0">
                AND o.groupId = #{param.groupId}
            </when>
            <when test="param.mendianId !=null and param.mendianId != 0 ">
                AND o.mendianId = #{param.mendianId}
            </when>
            <when test="param.areaId !=null and param.areaId != 0">
                AND o.areaId = #{param.areaId}
            </when>
            <when test="param.bigAreaId != null and param.bigAreaId != 0">
                AND o.bigAreaId = #{param.bigAreaId}
            </when>
            <when test="param.cityId != null and param.cityId != 0">
                AND o.cityId = #{param.cityId}
            </when>
            <otherwise>
            </otherwise>
        </choose>
        <if test="param.orderCode != null and param.orderCode != ''">
            AND o.code = #{param.orderCode}
        </if>
    </sql>

    <sql id="searchDiscountApplysLimit">
        <if test="param.limit">
          limit
            <if test="param.start">
                #{param.start},
            </if>
            #{param.limit}
        </if>
    </sql>
</mapper>