<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.write.custom.SaleContractOrderOperationLogWriteDao" >


    <select id="insertBatch" parameterType="java.util.List">
        insert into iw_sale_contract_order_operation_log (operateTime, operateAgentId, operateType,
        relationShipId, operateContent)
        values
        <foreach collection="logs" separator="," item="log">
        (#{log.operateTime,jdbcType=TIMESTAMP}, #{log.operateAgentId,jdbcType=BIGINT}, #{log.operateType,jdbcType=TINYINT},
            #{log.relationShipId,jdbcType=BIGINT}, #{log.operateContent,jdbcType=VARCHAR})
        </foreach>
    </select>
</mapper>