<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.read.custom.AgentContractOutAccountReadDao">

	<resultMap id="rentAgentContractOutAccountMap"
			   extends="com.manyi.iw.contract.soa.server.mybatis.dao.read.mbg.MBGAgentContractOutAccountReadDao.BaseResultMap"
			   type="com.manyi.iw.contract.soa.api.model.vo.rent.SearchRentOutAccountResult$AgentContractOutAccountVo">
		<id column="id" property="id"></id>
		<result column="billCode" property="billCode"/>
		<result column="code" property="contractCode"/>
		<result column="contractId" property="contractId"/>
		<result column="cityId" property="cityId"/>
	</resultMap>

	<select id="countRentOutAccount"
			resultType="int"
			lang="velocity"
			parameterType="com.manyi.iw.contract.soa.api.model.vo.rent.SearchRentOutAccountParam">
		SELECT
		COUNT(1)
		FROM
		iw_agent_contract_out_account aco
		LEFT JOIN iw_agent_contract_bill acb ON aco.billId = acb.id
		LEFT JOIN iw_agent_contract ac ON acb.contractId = ac.id
		<include refid="searchRentOutAccountWhere"/>
	</select>

	<select id="searchRentOutAccounts" resultMap="rentAgentContractOutAccountMap" lang="velocity">
		SELECT
		aco.*,acb.billCode,ac.code,ac.id as contractId,ac.cityId as cityId
		FROM
		iw_agent_contract_out_account aco
		LEFT JOIN iw_agent_contract_bill acb ON aco.billId = acb.id
		LEFT JOIN iw_agent_contract ac ON acb.contractId = ac.id
		<include refid="searchRentOutAccountWhere"/>
		order by aco.timeApply desc
		<include refid="searchOutAccountLimit"/>
	</select>

	<sql id="orderbyWhich">
		#{if}(${_parameter.orderBy} and ${_parameter.orderBy} != "")
		ORDER BY @{_parameter.orderBy}
		#{end}
	</sql>

	<sql id="searchRentOutAccountWhere">
		WHERE aco.valid = 1
		#{if}(${_parameter.cityId} and ${_parameter.cityId} != 0)
		AND ac.cityId = @{_parameter.cityId}
		#{end}
		#{if}(${_parameter.outAccountWay})
        AND aco.outAccountWay = @{_parameter.outAccountWay}
        #{end}
        #{if}(${_parameter.outAccountState})
        AND aco.state = @{_parameter.outAccountState}
        #{end}
		#{if}(${_parameter.serialCode} and ${_parameter.serialCode}!= "")
        AND aco.serialCode = @{_parameter.serialCode}
        #{end}
		#{if}(${_parameter.contractCode} and ${_parameter.contractCode}!= "")
        AND ac.code = @{_parameter.contractCode}
        #{end}
        #{if}(${_parameter.billCode} and ${_parameter.billCode}!= "")
        AND acb.billCode = @{_parameter.billCode}
        #{end}
		#{if}(${_parameter.applyDateStart})
        AND aco.timeApply <![CDATA[>=]]> @{_parameter.applyDateStart}
        #{end}
        #{if}(${_parameter.applyDateEnd})
		AND aco.timeApply <![CDATA[<=]]> TIMESTAMP(@{_parameter.applyDateEnd}, '23:59:59')
        #{end}
        #{if}(${_parameter.timeFinanceOutAccountStart})
        AND aco.timeFinanceOutAccount <![CDATA[>=]]> @{_parameter.timeFinanceOutAccountStart}
        #{end}
         #{if}(${_parameter.timeFinanceOutAccountEnd})
		AND aco.timeFinanceOutAccount <![CDATA[<=]]> TIMESTAMP(@{_parameter.timeFinanceOutAccountEnd}, '23:59:59')
        #{end}
	</sql>

	<sql id="searchOutAccountLimit">
		#{if}(${_parameter.limit})
		LIMIT
		#{if}(${_parameter.start})
		@{_parameter.start},
		#{end}
		@{_parameter.limit}
		#{end}
	</sql>

</mapper>