<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.read.custom.ReportReadDao">

    <resultMap id="guohuYuyueResult"
               type="com.manyi.iw.contract.soa.api.model.vo.sale.report.GuohuYuyueResult$GuohuYuyueVo">
        <id column="orderId"/>
        <result column="orderId" property="orderId" jdbcType="BIGINT"/>
        <result column="cityId" property="cityId" jdbcType="BIGINT"/>
        <result column="orderCode" property="orderCode" jdbcType="CHAR"/>
        <result column="houseId" property="houseId" jdbcType="BIGINT"/>
        <result column="premisesPermitAddr" property="premisesPermitAddr" jdbcType="VARCHAR"/>
        <result column="tradeMendianId" property="tradeMendianId" jdbcType="BIGINT"/>
        <result column="loanMendianId" property="loanMendianId" jdbcType="BIGINT"/>
        <result column="signMendianId" property="signMendianId" jdbcType="BIGINT"/>
        <result column="guohuDate" property="guohuDate" jdbcType="TIMESTAMP"/>

        <!--<collection property="senderList"-->
                    <!--resultMap="com.manyi.iw.contract.soa.server.mybatis.dao.read.mbg.MBGSaleContractOrderAppointmentSenderReadDao.BaseResultMap"/>-->
    </resultMap>

    <select id="guohuYuyue"
            parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.report.GuohuYuyueParam"
            resultMap="guohuYuyueResult"
            lang="velocity">
        select
        DISTINCT o.id orderId,o.cityId,o.code as orderCode,o.houseId,o.premisesPermitAddr,
        o.tradeMendian as tradeMendianId,o.loanMendian as loanMendianId,o.signMendian as signMendianId,
        o.guohuCompleteTime as guohuDate
        from iw_sale_contract_order o
        <include refid="guohuYuyueWhere" />
        <include refid="limit" />
    </select>

    <select id="countGuohuYuyue"
            parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.report.GuohuYuyueParam"
            resultType="integer"
            lang="velocity">
        select
        count(DISTINCT o.id)
        from iw_sale_contract_order o
        <include refid="guohuYuyueWhere" />
    </select>

    <sql id="guohuYuyueWhere">
        #{where}()
            o.guohuCompleteTime is not null
            #{if}($_parameter.cityId)
            and o.cityId = @{_parameter.cityId}
            #{end}
            #{if}($_parameter.guohuDateStart)
            and o.guohuCompleteTime <![CDATA[>=]]> @{_parameter.guohuDateStart}
            #{end}
            #{if}($_parameter.guohuDateEnd)
            and o.guohuCompleteTime <![CDATA[<=]]> @{_parameter.guohuDateEnd}
            #{end}
        #end
    </sql>

    <resultMap id="mianqianYuyueResult"
               type="com.manyi.iw.contract.soa.api.model.vo.sale.report.MianqianYuyueResult$MianqianYuyueVo">
        <id column="orderId"/>
        <result column="orderId" property="orderId" jdbcType="BIGINT"/>
        <result column="cityId" property="cityId" jdbcType="BIGINT"/>
        <result column="orderCode" property="orderCode" jdbcType="CHAR"/>
        <result column="houseId" property="houseId" jdbcType="BIGINT"/>
        <result column="premisesPermitAddr" property="premisesPermitAddr" jdbcType="VARCHAR"/>
        <result column="tradeMendianId" property="tradeMendianId" jdbcType="BIGINT"/>
        <result column="loanMendianId" property="loanMendianId" jdbcType="BIGINT"/>
        <result column="signMendianId" property="signMendianId" jdbcType="BIGINT"/>
        <result column="timeVisaInterview" property="timeVisaInterview" jdbcType="TIMESTAMP"/>

        <!--<collection property="senderList"-->
                    <!--resultMap="com.manyi.iw.contract.soa.server.mybatis.dao.read.mbg.MBGSaleContractOrderAppointmentSenderReadDao.BaseResultMap"/>-->
    </resultMap>

    <select id="mianqianYuyue"
            parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.report.MianqianYuyueParam"
            resultMap="mianqianYuyueResult"
            lang="velocity">
        select
        o.id orderId,o.code as orderCode,o.houseId,o.premisesPermitAddr,
        o.cityId,
        o.tradeMendian as tradeMendianId,o.loanMendian as loanMendianId,o.signMendian as signMendianId,
        loan.timeVisaInterview
        from iw_sale_contract_order o
        left join iw_sale_contract_order_mortgage_loan loan on o.id = loan.orderId
        <include refid="mianqianYuyueWhere" />
        GROUP by o.id
        <include refid="limit" />
    </select>

    <select id="countMianqianYuyue"
            parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.report.MianqianYuyueParam"
            resultType="integer"
            lang="velocity">
        select
        count(DISTINCT o.id)
        from iw_sale_contract_order o
        left join iw_sale_contract_order_mortgage_loan loan on o.id = loan.orderId
        <include refid="mianqianYuyueWhere" />
    </select>

    <sql id="mianqianYuyueWhere">
        #{where}()
            loan.timeVisaInterview is not null
            #{if}($_parameter.cityId)
            and o.cityId = @{_parameter.cityId}
            #{end}
            #{if}($_parameter.timeVisaInterviewStart)
            and loan.timeVisaInterview <![CDATA[>=]]> @{_parameter.timeVisaInterviewStart}
            #{end}
            #{if}($_parameter.timeVisaInterviewEnd)
            and loan.timeVisaInterview <![CDATA[<=]]> @{_parameter.timeVisaInterviewEnd}
            #{end}
        #{end}
    </sql>

    <resultMap id="wangqianYuyueResult"
               type="com.manyi.iw.contract.soa.api.model.vo.sale.report.WangqianYuyueResult$WangqianYuyueVo">
        <id column="orderId"/>
        <result column="orderId" property="orderId" jdbcType="BIGINT"/>
        <result column="cityId" property="cityId" jdbcType="BIGINT"/>
        <result column="orderCode" property="orderCode" jdbcType="CHAR"/>
        <result column="houseId" property="houseId" jdbcType="BIGINT"/>
        <result column="mendianId" property="mendianId" jdbcType="BIGINT"/>
        <result column="groupId" property="groupId" jdbcType="BIGINT"/>
        <result column="agentId" property="agentId" jdbcType="BIGINT"/>
        <result column="premisesPermitAddr" property="premisesPermitAddr" jdbcType="VARCHAR"/>
        <result column="tradeMendianId" property="tradeMendianId" jdbcType="BIGINT"/>
        <result column="loanMendianId" property="loanMendianId" jdbcType="BIGINT"/>
        <result column="signMendianId" property="signMendianId" jdbcType="BIGINT"/>
        <result column="wangqianDate" property="wangqianDate" jdbcType="TIMESTAMP"/>
        <result column="signFormalAgentId" property="signFormalAgentId" jdbcType="BIGINT"/>
        <result column="formalContractDepartmentType" property="formalContractDepartmentType" jdbcType="TINYINT"/>

        <!--<collection property="senderList"-->
                    <!--resultMap="com.manyi.iw.contract.soa.server.mybatis.dao.read.mbg.MBGSaleContractOrderAppointmentSenderReadDao.BaseResultMap"/>-->
    </resultMap>

    <select id="wangqianYuyue"
            parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.report.WangqianYuyuParam"
            resultMap="wangqianYuyueResult"
            lang="velocity">
        select
        o.id orderId,o.code as orderCode,o.houseId,o.premisesPermitAddr,
        o.cityId,o.mendianId,o.groupId,if(o.flowAgentId is null, o.agentId, o.flowAgentId) as agentId,
        o.tradeMendian as tradeMendianId,o.loanMendian as loanMendianId,o.signMendian as signMendianId,
        o.formalContractTime as wangqianDate,o.signFormalAgentId, o.formalContractDepartmentType
        from iw_sale_contract_order o
        <include refid="wangqianYuyueWhere"/>
        <include refid="limit" />
    </select>

    <select id="countWangqianYuyue"
            parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.report.WangqianYuyuParam"
            resultType="integer"
            lang="velocity">
        select
        count(DISTINCT o.id)
        from iw_sale_contract_order o
        <include refid="wangqianYuyueWhere"/>
    </select>

    <sql id="wangqianYuyueWhere">
        #{where}()
            o.formalContractTime is not null
            #{if}($_parameter.cityId)
            and o.cityId = @{_parameter.cityId}
            #{end}
            #{if}($_parameter.signMendianId)
            and o.signMendian = @{_parameter.signMendianId}
            #{end}
            #{if}($_parameter.wangqianDateStart)
            and o.formalContractTime <![CDATA[>=]]> @{_parameter.wangqianDateStart}
            #{end}
            #{if}($_parameter.wangqianDateEnd)
            and o.formalContractTime <![CDATA[<=]]> @{_parameter.wangqianDateEnd}
            #{end}
        #{end}
    </sql>

    <sql id="limit">
        #{if}(${_parameter.limit})
        LIMIT
        #{if}(${_parameter.start})
        @{_parameter.start},
        #{end}
        @{_parameter.limit}
        #{end}
    </sql>


</mapper>