<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.read.custom.SaleContractOrderOperationLogReadDao">

	<select id="searchLogByOrderId" resultType="com.manyi.iw.contract.soa.api.model.vo.sale.log.ShowLog" parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.SearchLogParam">
		SELECT * FROM iw_sale_contract_order_operation_log
		WHERE 1 = 1
		AND operateType IN
		<foreach collection="types" item="type" separator="," open="(" close=")">
			#{type}
		</foreach>
		<include refid="searchOrderLogWhere"/>
		ORDER BY operateTime DESC
		<if test="param.limit">
			limit
			<if test="param.start">
				#{param.start},
			</if>
			#{param.limit}
		</if>
	</select>

	<sql id="searchOrderLogWhere">
		<if test="param.orderId != null">
			AND relationShipId = #{param.orderId}
		</if>
		<if test="param.cityId != null">
			AND o.cityId = #{param.cityId}
		</if>
		<if test="param.bigAreaId != null">
			AND o.bigAreaId = #{param.bigAreaId}
		</if>
		<if test="param.areaId != null">
			AND o.areaId = #{param.areaId}
		</if>
		<if test="param.mendianId != null">
			AND o.mendianId = #{param.mendianId}
		</if>
		<if test="param.groupId != null">
			AND o.groupId = #{param.groupId}
		</if>
		<if test="param.agentId != null">
			AND o.agentId = #{param.agentId}
		</if>
	</sql>

	<select id="countLogs" parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.SearchLogParam" resultType="int">
		SELECT count(1) FROM iw_sale_contract_order_operation_log
		WHERE 1 = 1
		AND operateType IN
		<foreach collection="types" item="type" separator="," open="(" close=")">
			#{type}
		</foreach>
		<include refid="searchOrderLogWhere" />
	</select>

	<select id="searchLogsByCon" resultType="com.manyi.iw.contract.soa.api.model.vo.sale.log.ShowLog" parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.SearchLogParam">
		SELECT log.* FROM iw_sale_contract_order_operation_log log
		LEFT JOIN iw_sale_contract_order o
		ON log.relationShipId = o.id
		WHERE 1 = 1
		AND operateType IN
		<foreach collection="types" item="type" separator="," open="(" close=")">
			#{type}
		</foreach>
		<include refid="searchOrderLogWhere"/>
		ORDER BY log.operateTime DESC
		<if test="param.limit">
			limit
			<if test="param.start">
				#{param.start},
			</if>
			#{param.limit}
		</if>
	</select>

	<select id="queryLogsByRelationIdAndTypes" resultType="com.manyi.iw.contract.soa.api.model.vo.sale.log.ShowLog">
		SELECT * FROM iw_sale_contract_order_operation_log log
		WHERE 1 = 1
		<if test="relationId != null">
			and relationShipId = #{relationId}
		</if>
		AND operateType IN
		<foreach collection="types" item="type" separator="," open="(" close=")">
			#{type}
		</foreach>
		ORDER BY  log.operateTime DESC, log.id DESC
		<if test="start != null and limit != null">
			limit #{start}, #{limit}
		</if>
	</select>

	<select id="countLogsByRelationIdAndTypes" resultType="int">
		SELECT count(1) FROM iw_sale_contract_order_operation_log
		WHERE 1 = 1
		<if test="relationId != null">
			and relationShipId = #{relationId}
		</if>
		AND operateType IN
		<foreach collection="types" item="type" separator="," open="(" close=")">
			#{type}
		</foreach>
		<if test="start != null and limit != null">
			limit #{start}, #{limit}
		</if>
	</select>

</mapper>