<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.read.custom.SaleContractOrderAgentCommentReadDao">

	<resultMap id="commentTaskMap" type="com.manyi.iw.contract.soa.api.model.vo.sale.commentTask.CommentTask" autoMapping="true">
		<id column="id" property="commentId"></id>
		<collection property="beCommentedAgents" ofType="com.manyi.iw.contract.soa.api.model.po.mbg.SaleContractOrderBeCommentAgent" javaType="List" autoMapping="true"/>
	</resultMap>

	<resultMap id="commentTaskMap2" type="com.manyi.iw.contract.soa.api.model.vo.sale.commentTask.CommentTask" autoMapping="true">
		<id column="id" property="commentId"></id>
		<collection property="beCommentedAgents" resultMap="beCommentedAgentMap"/>
	</resultMap>

	<resultMap id="beCommentedAgentMap" type="com.manyi.iw.contract.soa.api.model.po.mbg.SaleContractOrderBeCommentAgent">
		<result column="bc_beCommentAgentId" property="beCommentAgentId" />
		<result column="bc_beCommentAgentName" property="beCommentAgentName" />
		<result column="bc_tradeCityId" property="cityId" />
		<result column="bc_tradeMendianId" property="tradeMendianId" />
		<result column="bc_professionScore" property="professionScore" />
		<result column="bc_timelyScore" property="timelyScore" />
		<result column="bc_mannerScore" property="mannerScore" />
		<result column="bc_multipleScore"  property="multipleScore" />
		<result column="bc_commentContent"  property="commentContent" />
		<result column="bc_commentTime" property="commentTime"/>
	</resultMap>

	<!-- 评价总数 -->
	<select id="countComments" resultType="int" parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.commentTask.QueryCommentTasksParam">
		select count(1) FROM iw_sale_contract_order_agent_comment c
		LEFT JOIN iw_sale_contract_order_be_comment_agent bc ON c.id = bc.commentId
		WHERE 1 = 1
		<if test="param.orderIds != null and param.orderIds.size() > 0">
			<include refid="orderIdWhere" />
		</if>
		AND c.commentAgentId = #{param.commentAgentId}
		AND c.commentState = #{param.commentState}
	</select>

	<sql id="orderIdWhere">
		AND orderId IN
		<foreach collection="param.orderIds" item="orderId" separator="," open="(" close=")">
			#{orderId}
		</foreach>
	</sql>

	<!-- 经纪人分页查询评价任务 -->
	<select id="queryCommentsByParam" resultMap="commentTaskMap" parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.commentTask.QueryCommentTasksParam">
		SELECT c.id,c.orderId,c.code,c.commentAgentId,c.commentStep,c.commentState,c.orderState,bc.*  FROM iw_sale_contract_order_agent_comment c
		LEFT JOIN iw_sale_contract_order_be_comment_agent bc ON c.id = bc.commentId
		WHERE 1 = 1
		<if test="param.orderIds != null and param.orderIds.size() > 0">
			<include refid="orderIdWhere" />
		</if>
		AND c.commentAgentId = #{param.commentAgentId}
		AND c.commentState = #{param.commentState}
		ORDER BY ${param.orderBy}
		<include refid="limit" />
	</select>

	<sql id="limit">
		<if test="param.limit != null">
			limit
			<if test="param.offset != null">
				#{param.offset},
			</if>
			#{param.limit}
		</if>
	</sql>


	<!-- 搜索评价信息总数 -->
	<select id="countSearchComments" resultType="java.lang.Integer" parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.commentTask.SearchCommentParam">
		SELECT COUNT(1) FROM iw_sale_contract_order_agent_comment cc
		LEFT JOIN iw_sale_contract_order_be_comment_agent  bc ON cc.id = bc.commentId
		WHERE 1 = 1
		<include refid="searchCommentsWhere" />
		ORDER BY ${param.orderBy}
	</select>

	<!-- 评价信息搜索 -->
	<select id="searchCommentsByParam" resultMap="commentTaskMap2" parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.commentTask.SearchCommentParam">
		SELECT cc.*,
		bc.beCommentAgentId AS bc_beCommentAgentId,
		bc.beCommentAgentName AS bc_beCommentAgentName,
		bc.cityId AS bc_tradeCityId,
		bc.tradeMendianId AS bc_tradeMendianId,
		bc.professionScore AS bc_professionScore,
		bc.timelyScore AS bc_timelyScore,
		bc.mannerScore AS bc_mannerScore,
		bc.multipleScore AS bc_multipleScore,
		bc.commentContent AS bc_commentContent,
		bc.commentTime AS bc_commentTime
		FROM iw_sale_contract_order_agent_comment cc
		LEFT JOIN iw_sale_contract_order_be_comment_agent bc ON cc.id = bc.commentId
		WHERE 1 = 1
		<include refid="searchCommentsWhere" />
		ORDER BY ${param.orderBy}
		<include refid="limit" />
	</select>

	<sql id="searchCommentsWhere">
		<if test="param.cityId != null and param.cityId != 0">
			AND cc.cityId = #{param.cityId}
		</if>
		<if test="param.bigAreaId != null and param.bigAreaId != 0">
			AND cc.bigAreaId = #{param.bigAreaId}
		</if>
		<if test="param.areaId != null and param.areaId != 0">
			AND cc.areaId = #{param.areaId}
		</if>
		<if test="param.mendianId != null and param.mendianId != 0">
			AND cc.mendianId = #{param.mendianId}
		</if>
		<if test="param.groupId != null and param.groupId != 0">
			AND cc.groupId = #{param.groupId}
		</if>
		<if test="param.tradeCityId != null and param.tradeCityId != 0">
			AND bc.cityId = #{param.tradeCityId}
		</if>
		<if test="param.tradeMendianId != null and param.tradeMendianId != 0">
			AND bc.tradeMendianId = #{param.tradeMendianId}
		</if>
		<if test="param.commentStep != null">
			AND cc.commentStep = #{param.commentStep}
		</if>
		<if test="param.commentAgentName != null and param.commentAgentName != ''">
			AND cc.commentAgentName = #{param.commentAgentName}
		</if>
		<if test="param.code != null and param.code != ''">
			AND cc.code = #{param.code}
		</if>
		<if test="param.beCommentAgentName and param.beCommentAgentName != ''">
			AND bc.beCommentAgentName = #{param.beCommentAgentName}
		</if>
		<if test="param.minMultipleScore != null">
			AND bc.multipleScore >= #{param.minMultipleScore}
		</if>
		<if test="param.maxMultipleScore != null">
			AND bc.multipleScore  <![CDATA[<=]]> #{param.maxMultipleScore}
		</if>
		<if test="param.minProScore != null">
			AND bc.professionScore >= #{param.minProScore}
		</if>
		<if test="param.maxProScore != null">
			AND bc.professionScore  <![CDATA[<=]]> #{param.maxProScore}
		</if>
		<if test="param.minMannScore != null">
			AND bc.mannerScore >= #{param.minMannScore}
		</if>
		<if test="param.maxMannScore != null">
			AND bc.mannerScore  <![CDATA[<=]]> #{param.maxMannScore}
		</if>
		<if test="param.minTimelyScore != null">
			AND bc.timelyScore >= #{param.minTimelyScore}
		</if>
		<if test="param.maxTimelyScore != null">
			AND bc.timelyScore  <![CDATA[<=]]> #{param.maxTimelyScore}
		</if>
		<if test="param.commentContent != null">
			AND bc.commentContent LIKE CONCAT('%',param.commentContent,'%')
		</if>
		<if test="param.commentStartTime != null">
			AND bc.commentTime >= #{param.commentStartTime}
		</if>
		<if test="param.commentEndTime != null">
			AND bc.commentTime  <![CDATA[<=]]> #{param.commentEndTime}
		</if>
		AND cc.commentState = 1
	</sql>


</mapper>