<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.read.custom.SaleContractOrderAppointmentReadDao">
    <select id="selectAppointSenderBySenderType"
            parameterType="com.manyi.iw.contract.soa.api.model.vo.sale.appointment.GetNewAppointInfoParam"
            resultType="com.manyi.iw.contract.soa.api.model.po.mbg.SaleContractOrderAppointment">
        select * from iw_sale_contract_order_appointment as ap
        inner join iw_sale_contract_order_appointment_sender sd
        on ap.id = sd.appointId
        where sd.senderType = #{senderType}
        and ap.orderId = #{orderId}
    </select>

    <select id="selectSendersByOrderIds"
            parameterType="java.util.Map"
            resultType="com.manyi.iw.contract.soa.api.model.vo.sale.appointment.OrderAppointmentSenderVo">
        SELECT
        s.id,s.appointId,s.senderType,a.orderId,s.sendTime
        from iw_sale_contract_order_appointment_sender s
        left join iw_sale_contract_order_appointment a on s.appointId = a.id
        where
        a.orderId in
        <foreach collection="orderIds" close=")" open="(" item="orderId" separator=",">
            ${orderId}
        </foreach>
        <if test="appointmentStep != null">
            and a.appointmentStep like CONCAT('%',#{appointmentStep},'%')
        </if>
    </select>
</mapper>