<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.read.custom.SignAgreementPaymentRecordReadDao">

    <resultMap id="PayRecordPagingResult" type="com.manyi.iw.contract.soa.api.model.vo.sign.AgreementTradeRecord">
        <id column="id" property="signId"></id>
        <result column="payState" property="payState"></result>
        <result column="tradeType" property="tradeType"></result>
        <result column="signCode" property="signCode"></result>
        <result column="timePay" property="timePay"></result>
        <result column="payAmount" property="money"></result>
        <result column="accountBalance" property="accountBalance"></result>
    </resultMap>

    <select id="getPayRecordPaging" resultMap="PayRecordPagingResult">
        select ag.id, pay.payState, pay.tradeType, pay.payAmount, ag.signCode, pay.timeComplete,
        pay.accountBalance
        from iw_sign_agreement ag
        inner join iw_sign_agreement_payment_record pay
        on ag.id = pay.signId
        where 1= 1
        <choose>
            <when test="agentId != null and agentId != 0">
                and ag.agentId = #{agentId}
            </when>
            <when test="groupId != null and groupId != 0">
                and ag.groupId = #{groupId}
            </when>
            <when test="mendianId != null and mendianId !=0">
                and ag.mendianId = #{mendianId}
            </when>
            <when test="areaId != null and areaId != 0">
                and ag.areaId = #{areaId}
            </when>
            <when test="bigAreaId != null and bigAreaId != 0">
                and ag.bigAreaId = #{bigAreaId}
            </when>
            <when test="cityId != null and cityId != 0">
                and ag.cityId = #{cityId}
            </when>
            <when test="signMendianId != null and signMendianId !=0">
                and ag.signMendianId = #{signMendianId}
            </when>
        </choose>
        <if test=" signCode != null and signCode != '' ">
            and ag.signCode = #{signCode}
        </if>
        <if test=" payState != null  ">
            and pay.payState = #{payState}
        </if>
        order by pay.timeComplete desc
        <if test="limit">
            limit
            <if test="start">
                #{start},
            </if>
            #{limit}
        </if>
    </select>

    <select id="getPayRecordCount" resultType="Integer">
        select count(*)
        from iw_sign_agreement ag
        inner join iw_sign_agreement_payment_record pay
        on ag.id = pay.signId
        where 1= 1
        <choose>
            <when test="agentId != null and agentId != 0">
                and ag.agentId = #{agentId}
            </when>
            <when test="groupId != null and groupId != 0">
                and ag.groupId = #{groupId}
            </when>
            <when test="mendianId != null and mendianId !=0">
                and ag.mendianId = #{mendianId}
            </when>
            <when test="areaId != null and areaId != 0">
                and ag.areaId = #{areaId}
            </when>
            <when test="bigAreaId != null and bigAreaId != 0">
                and ag.bigAreaId = #{bigAreaId}
            </when>
            <when test="cityId != null and cityId != 0">
                and ag.cityId = #{cityId}
            </when>
            <when test="signMendianId != null and signMendianId !=0">
                and ag.signMendianId = #{signMendianId}
            </when>
        </choose>
        <if test=" signCode != null and signCode != '' ">
            and ag.signCode = #{signCode}
        </if>
        <if test=" payState != null  ">
            and pay.payState = #{payState}
        </if>
    </select>
</mapper>