<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.read.custom.SignAgreementBillReadDao">
    <select id="selectBySignId" resultType="com.manyi.iw.contract.soa.api.model.po.mbg.SignAgreementBill">
        SELECT *
        FROM iw_sign_agreement_bill sg
        WHERE signId in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>