<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.read.custom.SignBankCodeReadDao">
    <select id="selectBankCodeByCondition"
            parameterType="com.manyi.iw.contract.soa.api.model.vo.sign.SelectSignBankCodeParam"
            resultType="com.manyi.iw.contract.soa.api.model.vo.sign.SignBankCodeVo">
        select * from iw_sign_bank_code
        where 1=1
        <choose>
            <when test="countyId != null and countyId != 0">
                and countyId =#{countyId}
            </when>
            <when test="cityId != null and cityId != 0">
                and cityId = #{cityId}
            </when>
            <when test="provinceId != null">
                and provinceId = #{provinceId}
            </when>
        </choose>
        <if test="bankName != null and bankName != ''">
            and bankName = #{bankName}
        </if>
        <if test="subBankName != null">
            and subBankName like CONCAT('%','${subBankName}','%' )
        </if>
        <if test="limit">
            limit
            <if test="start">
                #{start},
            </if>
            #{limit}
        </if>
    </select>
    <select id="countBankCodeByCondition"
            parameterType="com.manyi.iw.contract.soa.api.model.vo.sign.SelectSignBankCodeParam"
            resultType="java.lang.Integer">
        select count(*) from iw_sign_bank_code
        where 1=1
        <choose>
            <when test="countyId != null and countyId != 0">
                and countyId =#{countyId}
            </when>
            <when test="cityId != null and cityId != 0">
                and cityId = #{cityId}
            </when>
            <when test="provinceId != null">
                and provinceId = #{provinceId}
            </when>
        </choose>
        <if test="bankName != null and bankName != ''">
            and bankName = #{bankName}
        </if>
        <if test="subBankName != null">
            and subBankName like CONCAT('%','${subBankName}','%' )
        </if>
    </select>
</mapper>