<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.contract.read.custom.AgentContractReadDao">
    <sql id="searchContractWhere" lang="velocity">
        #{where}()
        #{if}(${_parameter.userId})
        AND userId = @{_parameter.userId}
        #{end}
        #{if}(${_parameter.agentId})
        AND agentId = @{_parameter.agentId}
        #{end}
        #{if}(${_parameter.state} and ${_parameter.state.size()} != 0)
        AND
        #{in}(${_parameter.state} $state "state")
        @{state}
        #{end}
        #{end}
        #{end}
    </sql>

    <sql id="searchContractWhereCount" lang="velocity">
        where
        (userId = @{_parameter.userId} or landlorduserid = @{_parameter.userId})
        <![CDATA[
            and state < 80
          ]]>
    </sql>

    <sql id="limit">
        #{if}(${_parameter.limit})
        LIMIT
        #{if}(${_parameter.start})
        @{_parameter.start},
        #{end}
        @{_parameter.limit}
        #{end}
    </sql>

    <select id="searchContract"
            lang="velocity"
            resultMap="com.manyi.iw.contract.soa.server.mybatis.dao.contract.read.mbg.MBGAgentContractReadDao.BaseResultMap">
        select
        <include
                refid='com.manyi.iw.contract.soa.server.mybatis.dao.contract.read.mbg.MBGAgentContractReadDao.Base_Column_List'/>
        from iw_agent_contract
        <include refid="searchContractWhere"/>
        order by createTime desc
        <include refid="limit"/>
    </select>

    <select id="countSearchContract" lang="velocity" resultType="java.lang.Integer">
        select count(id) from iw_agent_contract
        <include refid="searchContractWhereCount"/>
    </select>

    <select id="countSearchContract2" lang="velocity" resultType="java.lang.Integer">
        select count(id) from iw_agent_contract
        <include refid="searchContractWhere"/>
    </select>

    <select id="countCommission" resultType="java.lang.Long" parameterType="com.manyi.iw.contract.soa.api.model.po.mbg.AgentContractExample" >
        select IFNULL(SUM(IFNULL(COMMISSION, 0)), 0) from iw_agent_contract
        <if test="_parameter != null" >
            <include refid="com.manyi.iw.contract.soa.server.mybatis.dao.contract.read.mbg.MBGAgentContractReadDao.Example_Where_Clause" />
        </if>
    </select>


    <select id="selectIdNo"
            resultMap="com.manyi.iw.contract.soa.server.mybatis.dao.contract.read.mbg.MBGAgentContractReadDao.BaseResultMap"
            resultType="com.manyi.iw.contract.soa.api.model.po.mbg.AgentContract">
        select  id,userIdNo,landlordIdNo
        from iw_agent_contract WHERE
        <![CDATA[ id >= ]]> #{idMin} AND
        <![CDATA[ id <= ]]> #{idMax} AND ( userIdNo IS NOT NULL OR landlordIdNo IS NOT NULL )
    </select>


    <select id="countContractBymap" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from iw_agent_contract a
        <include refid="Base_Query_Contract_Sql"/>
    </select>

    <select id="selectContractByMap" parameterType="java.util.Map"
            resultType="com.manyi.iw.contract.soa.api.model.vo.rent.contract.ListContractOfPageResult$ContractVo">
        select
        a.id as id,
        a.code as code,
        a.state as state,
        a.archiveState as archiveState,
        a.certState as certState,
        a.holderId as holderId,
        a.agentId as agentId,
        a.groupId as groupId,
        a.mendianId as mendianId,
        a.rent as rent,
        a.commission as commission,
        DATE_FORMAT(a.contractTime,'%Y-%m-%d') contractTime,
        DATE_FORMAT(a.destroyTime,'%Y-%m-%d') destroyTime,
        a.groupLeaderId as groupLeaderId,
        a.mendianLeaderId AS mendianLeaderId,
        a.areaLeaderId as areaLeaderId,
        a.bigAreaLeaderId as bigAreaLeaderId,
        IF(FLOOR(TIMESTAMPDIFF(HOUR, a.holderTime, now()) / 24) = 0,'&amp;lt 1',FLOOR(TIMESTAMPDIFF(HOUR, a.holderTime, now()) / 24)) as holderTime,
        (case a.state when 30 then ifnull(DATEDIFF(now(),STR_TO_DATE(a.leaseStart,'%Y-%m-%d')),0) ELSE 0 end) as delayDays
        from iw_agent_contract a
        <include refid="Base_Query_Contract_Sql"/>
        <if test="limit!=null">
            limit
            <if test="start!=null">
                #{start},
            </if>
            #{limit}
        </if>
    </select>

    <sql id="Base_Query_Contract_Sql">
        where
        a.code is not null
        <if test="csId != null">
            and a.cityId = #{csId}
        </if>
        <if test="bigAreaId != null">
            and a.bigAreaId = #{bigAreaId}
        </if>
        <if test="code != null">
            and a.code like CONCAT('%',#{code})
        </if>
        <if test="state != null">
            and a.state in (${state})
        </if>
        <if test="holderTime != null and holderTime != ''">
            and FLOOR(TIMESTAMPDIFF(HOUR, a.holderTime, now()) / 24) >= #{holderTime}
        </if>
        <if test="areaId != null">
            and a.areaId = #{areaId}
        </if>
        <if test="mendianId != null">
            and a.mendianId = #{mendianId}
        </if>
        <if test="xzId != null">
            and a.groupId = #{xzId}
        </if>
        <if test="agentId != null">
            and a.agentId = #{agentId}
        </if>
        <if test="archiveState != null">
            and a.archiveState = #{archiveState}
        </if>
        <if test="certState != null">
            and a.certState in (${certState})
        </if>
        <if test="contractTimeStart != null and contractTimeStart != ''">
            and a.contractTime >= #{contractTimeStart}
        </if>
        <if test="contractTimeEnd != null and contractTimeEnd != ''">
            <![CDATA[and a.contractTime <= #{contractTimeEnd}]]>
        </if>
        <if test="transferSaveTimeStart != null and transferSaveTimeStart != ''">
            <![CDATA[and a.transferSaveTime >= #{transferSaveTimeStart}]]>
        </if>
        <if test="transferSaveTimeEnd != null and transferSaveTimeEnd != ''">
            <![CDATA[and a.transferSaveTime <= #{transferSaveTimeEnd}]]>
        </if>
        <if test="duizhangTimeStart != null and duizhangTimeStart != ''">
            and a.duizhangTime >= #{duizhangTimeStart}
        </if>
        <if test="duizhangTimeEnd != null and duizhangTimeEnd != ''">
            <![CDATA[and a.duizhangTime <= #{duizhangTimeEnd}]]>
        </if>
        <if test="curHolderPhone != null and curHolderPhone != ''">
            and a.holderId = #{holderId}
        </if>
        <if test="delayDays !=null">
            and (case a.state when 30 then ifnull(DATEDIFF(now(),STR_TO_DATE(a.leaseStart,'%Y-%m-%d')),0) ELSE 0 end) >= #{delayDays}
        </if>
        <if test="destroyTimeStart != null and destroyTimeStart != ''">
            and a.destroyTime >= #{destroyTimeStart}
        </if>
        <if test="destroyTimeEnd != null and destroyTimeEnd != ''">
            <![CDATA[and a.destroyTime <= #{destroyTimeEnd}]]>
        </if>
        <if test="certCompleteTimeStart != null and certCompleteTimeStart != ''">
            and a.certCompleteTime >= #{certCompleteTimeStart}
        </if>
        <if test="certCompleteTimeEnd != null and certCompleteTimeEnd != ''">
            <![CDATA[and a.certCompleteTime <= #{certCompleteTimeEnd}]]>
        </if>
        <if test="loginId != null">
            <![CDATA[and a.agentId = #{loginId} and a.state >= 30]]>
        </if>
        <if test="groupLeaderId != null">
            <![CDATA[and a.groupLeaderId = #{groupLeaderId} and a.state >= 30]]>
        </if>
        <if test="mendianLeaderId != null">
            <![CDATA[and a.mendianLeaderId = #{mendianLeaderId} and a.state >= 30]]>
        </if>
        <if test="areaLeaderId != null">
            <![CDATA[and a.areaLeaderId = #{areaLeaderId} and a.state >= 30]]>
        </if>
        <if test="bigAreaLeaderId != null">
            <![CDATA[and a.bigAreaLeaderId = #{bigAreaLeaderId} and a.state >= 30]]>
        </if>
        <if test="signId != null">
            <![CDATA[and (a.agentId = #{signId} or a.groupLeaderId = #{signId} or a.mendianLeaderId = #{signId} or a.areaLeaderId = #{signId} or a.bigAreaLeaderId = #{signId}) and a.state >= 30]]>
        </if>
    </sql>
</mapper>