<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.write.custom.SaleContractOrderDiscountCommissionWriteDao" >
    <select id="countDaishenpi" resultType="int" parameterType="long">
        select
        count(1)
        from iw_sale_contract_order_discount_commission
        where
        ((needToOpTopLeader=1 and state != 30 ) or (needToOpTopLeader=0 and state != 20))
        and state != 90
        and cancel=1 and disAllowState is null
        and orderId = #{orderId}
    </select>
    <select id="selectLastPassDiscount" resultMap="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderDiscountCommissionWriteDao.BaseResultMap">
       SELECT
       <include refid="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderDiscountCommissionWriteDao.Base_Column_List" />
       from iw_sale_contract_order_discount_commission
        where orderId=#{orderId}
        and ((needToOpTopLeader = 1 and state=30) or (needToOpTopLeader = 0 and state=20))
        order by updateTime desc limit 1
    </select>

</mapper>