<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.write.custom.SaleContractOrderWriteDao">

    <resultMap extends="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderWriteDao.BaseResultMap"
               id="SaleContractOrderVoResultMap"
               type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractOrderVo"/>
    <resultMap
            extends="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderReceiptWriteDao.BaseResultMap"
            id="SaleContractOrderReceiptVoResultMap"
            type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractOrderReceiptVo"/>
    <resultMap
            extends="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderDocWriteDao.BaseResultMap"
            id="SaleContractOrderDocVoResultMap"
            type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractOrderDocVo"/>
    <resultMap
            extends="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractCustomerDocWriteDao.BaseResultMap"
            id="SaleContractCustomerDocVoResultMap"
            type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractCustomerDocVo"/>
    <resultMap
            extends="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderFollowWriteDao.ResultMapWithBLOBs"
            id="SaleContractOrderFollowVoResultMap"
            type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractOrderFollowVo"/>
    <resultMap
            extends="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractLoanAndTradeWriteDao.ResultMapWithBLOBs"
            id="SaleContractLoanTradeVoResultMap"
            type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractLoanAndTradeVo"/>
    <resultMap
            extends="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderAttributeWriteDao.ResultMapWithBLOBs"
            id="SaleContractAttributeVoResultMap"
            type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractOrderAttributeVo"/>
    <resultMap
            extends="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderNetsigndocLogWriteDao.ResultMapWithBLOBs"
            id="SaleContractOrderNetsigndocLogVoResultMap"
            type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractOrderNetsigndocLogVo"/>

    <resultMap
            extends="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderDocItemWriteDao.BaseResultMap"
            id="SaleContractOrderDocItemVoResultMap"
            type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractOrderDocItemVo"/>

    <resultMap extends="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractTradeTransactionWriteDao.BaseResultMap"
               id="SaleContractTradeVoResultMap"
               type="com.manyi.iw.contract.soa.api.model.vo.sale.trade.SearchTradeResult$TradeDetail$SaleContractTradeVo"/>

    <resultMap extends="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderOutAccountWriteDao.BaseResultMap"
               id="SaleContractOrderOutAccountVoResultMap"
               type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractOrderOutAccountVo"/>

    <resultMap extends="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderOutAccountItemWriteDao.BaseResultMap"
               id="SaleContractOrderOutAccountItemVoResultMap"
               type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractOrderOutAccountItemVo"/>

    <resultMap extends="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderOutAccountLogWriteDao.BaseResultMap"
               id="SaleContractOrderOutAccountLogVoResultMap"
               type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractOrderOutAccountLogVo"/>
    <resultMap extends="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderOutaccountDetailWriteDao.BaseResultMap"
               id="SaleContractOrderOutaccountDetailVoResultMap"
               type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractOrderOutaccountDetailVo"/>

    <resultMap id="TradeDetailResultMap"
               type="com.manyi.iw.contract.soa.api.model.vo.sale.trade.SearchTradeResult$TradeDetail">
        <id column="trade_id"/>
        <association columnPrefix="trade_"
                     property="tradeVo"
                     resultMap="SaleContractTradeVoResultMap"/>
        <collection columnPrefix="receipt_"
                    property="receiptVos"
                    resultMap="SaleContractOrderReceiptVoResultMap"/>
    </resultMap>

    <resultMap id="DocDetailResultMap"
               type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractDocDetail">
        <id column="doc_id"/>
        <association columnPrefix="doc_"
                     property="docVo"
                     resultMap="SaleContractOrderDocVoResultMap"/>
        <collection columnPrefix="item_"
                    property="itemVos"
                    resultMap="SaleContractOrderDocItemVoResultMap"/>
    </resultMap>


    <resultMap id="OutAccountDetailResultMap"
               type="com.manyi.iw.contract.soa.api.model.vo.sale.GetOrderDetailResult$OrderDetail$SaleContractOutAccountDetail">
        <id column="out_account_detail_outAccountId"/>
        <association columnPrefix="out_account_detail_"
                     property="outaccountDetailVo"
                     resultMap="SaleContractOrderOutaccountDetailVoResultMap"/>
        <association columnPrefix="out_account_"
                     property="outAccountVo"
                     resultMap="SaleContractOrderOutAccountVoResultMap"/>
        <collection columnPrefix="out_account_item_"
                    property="outAccountItemVos"
                    resultMap="SaleContractOrderOutAccountItemVoResultMap"/>
        <collection columnPrefix="out_account_log_"
                    property="outAccountLogVos"
                    resultMap="SaleContractOrderOutAccountLogVoResultMap"/>
    </resultMap>

    <select id="selectAutoUpdateCustomerCertifyState" resultType="long" parameterType="int">
        SELECT io.id
        FROM iw_sale_contract_order AS io
        LEFT JOIN iw_sale_contract_loan_and_trade AS il
        ON io.id = il.orderId
        where 1=1
        and io.state=30
        and io.customerCertifyState=3
        and current_date >= ADDDATE(il.customerCertifiedTime,#{param})
    </select>


    <select id="queryOrderById" lang="velocity" resultMap="SaleContractOrderVoResultMap">
        SELECT
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderWriteDao.Base_Column_List'/>
        from iw_sale_contract_order o
        #{where}()
        #{in}(${_parameter.orderId} $id "o.id")
        @{id}
        #{end}
        #{end}
        order by FIELD(o.id,
        #repeat( ${_parameter.orderId} $id "," "" "" )
        @{id}
        #end
        )
    </select>

    <select id="queryAttrByOrderId" lang="velocity" resultMap="SaleContractAttributeVoResultMap">
        SELECT
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderAttributeWriteDao.Base_Column_List'/>
        ,
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderAttributeWriteDao.Blob_Column_List'/>
        from iw_sale_contract_order_attribute a
        #{where}()
        #{in}(${_parameter.orderId} $id "a.orderId")
        @{id}
        #{end}
        #{end}
    </select>

    <select id="queryDocByOrderId" resultMap="SaleContractOrderDocVoResultMap" lang="velocity">
        SELECT
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderDocWriteDao.Base_Column_List'/>
        from iw_sale_contract_order_doc d
        #{where}()
        #{in}(${_parameter.orderId} $id "d.orderId")
        @{id}
        #{end}
        and valid = 1
        #{end}
    </select>
    <select id="queryReceiptByOrderId" resultMap="SaleContractOrderReceiptVoResultMap" lang="velocity">
        SELECT
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderReceiptWriteDao.Base_Column_List'/>
        ,
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderReceiptWriteDao.Base_Column_List'/>
        from iw_sale_contract_order_receipt r
        #{where}()
        #{in}(${_parameter.orderId} $id "r.orderId")
        @{id}
        #{end}
        and valid = 1
        #{end}
        ORDER  by r.createTime desc
    </select>
    <select id="queryFollowByOrderId" resultMap="SaleContractOrderFollowVoResultMap" lang="velocity">
        SELECT
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderFollowWriteDao.Base_Column_List'/>
        ,
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderFollowWriteDao.Blob_Column_List'/>
        from iw_sale_contract_order_follow f
        #{where}()
        #{in}(${_parameter.orderId} $id "f.orderId")
        @{id}
        #{end}
        #{end}
        order by f.followTime desc
    </select>
    <select id="queryNetSignDocLogByOrderId" resultMap="SaleContractOrderNetsigndocLogVoResultMap" lang="velocity">
        SELECT
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderNetsigndocLogWriteDao.Base_Column_List'/>
        ,
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderNetsigndocLogWriteDao.Blob_Column_List'/>
        from iw_sale_contract_order_netsigndoc_log l
        #{where}()
        #{in}(${_parameter.orderId} $id "l.orderId")
        @{id}
        #{end}
        #{end}
        order by l.createTime desc
    </select>


    <select id="queryLoanTradeByOrderId" resultMap="SaleContractLoanTradeVoResultMap" lang="velocity">
        SELECT
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractLoanAndTradeWriteDao.Base_Column_List'/>
        ,
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractLoanAndTradeWriteDao.Blob_Column_List'/>
        from iw_sale_contract_loan_and_trade l
        #{where}()
        #{in}(${_parameter.orderId} $id "l.orderId")
        @{id}
        #{end}
        #{end}
    </select>

    <select id="queryCustomerDocByOrderId" resultMap="SaleContractCustomerDocVoResultMap" lang="velocity">
        SELECT
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractCustomerDocWriteDao.Base_Column_List'/>
        from iw_sale_contract_customer_doc d
        #{where}()
        #{in}(${_parameter.orderId} $id "d.orderId")
        @{id}
        #{end}
        #{end}
    </select>

    <select id="queryTradeByOrderId" resultMap="TradeDetailResultMap" lang="velocity">
        SELECT
        #{prefix}("
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderReceiptWriteDao.Base_Column_List'/>
        " "," "r." "receipt_")
        ,#{prefix}("
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractTradeTransactionWriteDao.Base_Column_List'/>
        " "," "t." "trade_")
        from iw_sale_contract_trade_transaction t
        left join iw_sale_contract_order_receipt r on r.tradeId = t.id
        left join iw_sale_contract_order o on o.id = r.orderId
        #{where}()
        r.valid = 1
        and t.state != 4
        AND
        #{in}(${_parameter.orderId} $id "o.id")
        @{id}
        #{end}
        #{end}
    </select>

    <select id="queryDocDetailByOrderId" resultMap="DocDetailResultMap" lang="velocity">
        SELECT
        #{prefix}("<include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderDocWriteDao.Base_Column_List'/>
        " "," "d." "doc_")
        ,#{prefix}("
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderDocItemWriteDao.Base_Column_List'/>
        " "," "i." "item_")
        from iw_sale_contract_order_doc d
        left join iw_sale_contract_order_doc_item i on d.id = i.docId
        #{where}()
        #{in}(${_parameter.orderId} $id "d.orderId")
        @{id}
        #{end}
        and d.valid = 1
        #{end}
    </select>

    <select id="queryAlloctePersionListByOrderId" resultMap="com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderAllocationPersionWriteDao.BaseResultMap" lang="velocity">
        SELECT
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderAllocationPersionWriteDao.Base_Column_List'/>
        from iw_sale_contract_order_allocation_persion
        #{where}()
        #{in}(${_parameter.orderId} $id "orderId")
        @{id}
        #{end}
        and valid = 1
        #{end}
    </select>

    <select id="queryOutAccountDetail" resultMap="OutAccountDetailResultMap" lang="velocity">
        SELECT
        #{prefix}("<include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderOutaccountDetailWriteDao.Base_Column_List'/>
        " "," "detail." "out_account_detail_")
        ,#{prefix}("<include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderOutAccountWriteDao.Base_Column_List'/>
        " "," "account." "out_account_")
        ,#{prefix}("
        <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderOutAccountItemWriteDao.Base_Column_List'/>
        " "," "account_item." "out_account_item_")
        from iw_sale_contract_order_outaccount_detail detail
        left join iw_sale_contract_order_out_account account on detail.outAccountId = account.id
        left join iw_sale_contract_order_out_account_item account_item on detail.outAccountId = account_item.outAccountId and account_item.valid = 1
        #{where}()
        #{in}(${_parameter.orderId} $id "detail.orderId")
        @{id}
        #{end}
        and account.valid = 1 and detail.money != 0 and detail.valid = 1
        order by account.timeApply desc
        #{end}
    </select>

    <select id="queryOrderIdsOnChangeTradeLeader" resultType="java.lang.Long">
        SELECT DISTINCT tab_o.id
        from iw_sale_contract_order AS tab_o LEFT JOIN  iw_sale_contract_order_allocation_persion AS tab_a ON tab_o.id=tab_a.orderId
        where tab_a.type = #{tradeType} and tab_a.agentId = #{oldLeaderId} and tab_a.valid = 1
        and tab_o.state not in (10,60,90) and tab_o.orderStateExtra is null
        <if test="tradeType==1">
            and tab_o.tradeMendian = #{tradeMenDianId}
        </if>
        <if test="tradeType==2">
            and tab_o.loanMendian = #{tradeMenDianId}
        </if>
        <if test="tradeType==3">
            and tab_o.signMendian = #{tradeMenDianId}
        </if>
    </select>
</mapper>