<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.contract.soa.server.mybatis.dao.write.custom.SaleContractOrderOutAccountWriteDao">
    <select id="getTotalOutAccountMoney" parameterType="map" resultType="long">
        select
        IFNULL(sum(money), 0) as totalMoney
        from iw_sale_contract_order_outaccount_detail a
        where a.orderId = #{orderId} and a.valid = 1 and a.type = #{type}
    </select>

    <select id="getTotalOutAccountMoneyWithState" parameterType="map" resultType="long">
        select
        IFNULL(sum(money), 0) as totalMoney
        from iw_sale_contract_order_outaccount_detail a
        where a.orderId = #{orderId} and a.valid = 1 and a.type = #{type} and state = 2
    </select>

    <select id="getTotalOutAccountInMoney" parameterType="map" resultType="long">
        select
        IFNULL(sum(outAccountItemMoney), 0) as totalMoney
        from iw_sale_contract_order_out_account_item a
        left join iw_sale_contract_order_out_account account on a.outAccountId = account.id
        where a.orderId = #{orderId} and a.valid = 1 and a.outAccountItemType = #{type} and account.state=40
    </select>

    <select id="getTotalOutAccountInMoneyWithOutState" parameterType="map" resultType="long">
        select
        IFNULL(sum(outAccountItemMoney), 0) as totalMoney
        from iw_sale_contract_order_out_account_item a
        left join iw_sale_contract_order_out_account account on a.outAccountId = account.id
        where a.orderId = #{orderId} and a.valid = 1 and a.outAccountItemType = #{type}
    </select>


    <select id="queryOutAccountDetail" resultMap="com.manyi.iw.contract.soa.server.mybatis.dao.write.custom.SaleContractOrderWriteDao.OutAccountDetailResultMap" lang="velocity">
    SELECT
    #{prefix}("<include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderOutaccountDetailWriteDao.Base_Column_List'/>
    " "," "account_detail." "out_account_detail_")
    ,#{prefix}("<include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderOutAccountWriteDao.Base_Column_List'/>
    " "," "account." "out_account_")
    ,#{prefix}("
    <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderOutAccountItemWriteDao.Base_Column_List'/>
    " "," "account_item." "out_account_item_")
    ,#{prefix}("
    <include refid='com.manyi.iw.contract.soa.server.mybatis.dao.write.mbg.MBGSaleContractOrderOutAccountLogWriteDao.Base_Column_List'/>
    " "," "account_log." "out_account_log_")
    from iw_sale_contract_order_out_account account
    left join iw_sale_contract_order_outaccount_detail account_detail on account.id = account_detail.outAccountId
    left join iw_sale_contract_order_out_account_log account_log on account.id = account_log.outAccountId
    left join iw_sale_contract_order_out_account_item account_item on account.id = account_item.outAccountId and account_item.valid = 1
    #{where}()
    account_detail.orderId = @{_parameter.orderId}
    and account.valid = 1
    and account_detail.valid = 1
    and account_detail.money != 0
    order by account.id asc,account_log.operateTime desc
    #{end}
    </select>
    
    <select id="queryOldBackMoney" resultType="long">
         select
        IFNULL(sum(detail.money), 0) as totalMoney
        from iw_sale_contract_order_outaccount_detail detail
        left join iw_sale_contract_order_out_account account on detail.outAccountId = account.id
        where detail.orderId = #{orderId} and detail.valid = 1 and detail.type = #{type} and account.backTradeId = #{tradeId}
    </select>
</mapper>